{% extends "base.html" %}

{% block body %}
<section class="container centered">
    <div class="about">
    <h1> About Me </h1>


        <p> Hi! My name is Jessica De Mota Munoz and I am currently
            an undergraduate sophmore in CUNY Hunter College studying
            Computer Science.
        </p>
        <p>
            I didn't always think that my life would lead me towards pursuing a career in STEM, I thought of becoming a
            writer or a lawyer long
            before. As I explored STEM, I realized how making things and displaying things to poeple that can make a
            change still had the same impact.
        </p>

        <p>
            The project's I display in my folder all are on social impactful issues.
            One of them being a table scraped from Wikepedia,the ranking of health insurance and displaying 
            how disadvantaged countries have trouble allocating health insurance.
            I would love to chat more on how tech can benefit this world.
            Just hit my Linkedlin button !
        </p>
    </div>
</section>
{% endblock %}